.dashboard-container {
    padding: 40px;
    text-align: center;
}

.card-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 30px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;

}

.card:hover {
    transform: translateY(-5px);
    background: #e3f2fd;
}